language: node_js

sudo: required 
services: 
  - docker
  
before_install:
  - chmod +x docker/postgres/*postgres docker/redis/*redis docker/alice/*alice
  - docker network create --driver bridge dev-alice
  - cd $TRAVIS_BUILD_DIR/docker/postgres && ./buildpostgres >/dev/null && ./runpostgres
  - cd $TRAVIS_BUILD_DIR/docker/redis && ./buildredis >/dev/null && ./runredis
  - cd $TRAVIS_BUILD_DIR/docker/alice && ./buildalice >/dev/null && ./runalice
  
script:
  - docker exec -it alice node_modules/knex/bin/cli.js migrate:latest
  - docker exec -it alice npm run test:coverage
  - npm install -g codeclimate-test-reporter
# where is lcov.info created
#  - codeclimate-test-reporter < coverage/lcov.info
  
after_success:
   - docker tag alice:latest cambria/alice:latest
   - docker tag devpostgres:latest cambria/devpostgres:latest
   - docker tag aliceredis:latest cambria/aliceredis:latest
   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
   - docker push cambria/alice
   - docker push cambria/devpostgres
   - docker push cambria/aliceredis 
   
#deploy:
#  provider: script
#  script: bash $TRAVIS_BUILD_DIR/docker/push/docker_push
#  on:
#    branch: master
#   - 

