sudo: required 

services: 
  - docker
  
before_install:
  - chmod +x docker/postgres/*postgres docker/redis/*redis docker/alice/*alice
  - docker network create --driver bridge dev-alice
  - ./docker/postgres/buildpostgres 
  - ./docker/redis/buildredis
  - ./docker/alice/buildalice
  
script:
  - ./docker/postgres/runpostgres
  - ./docker/redis/runredis
  - ./docker/alice/runalice

# script:
#   - node_modules/knex/bin/cli.js migrate:latest
#   - npm run test:coverage
# after_success:
#   - npm install -g codeclimate-test-reporter
#   - codeclimate-test-reporter < coverage/lcov.info
# services:
#   - postgresql
#   - redis-server
# before_script:
#   - export TZ=America/Los_Angeles
#   - psql -c 'create database travis_ci_test;' -U postgres
#   - psql -c "CREATE USER ci_tester WITH PASSWORD 'pa33word';" -U postgres
