language: node_js

sudo: required 
services: 
  - docker
  
before_install:
  - chmod +x docker/postgres/*postgres docker/redis/*redis docker/alice/*alice
  - docker network create --driver bridge dev-alice
  - cd $TRAVIS_BUILD_DIR/docker/postgres && ./buildpostgres && ./runpostgres
  - cd $TRAVIS_BUILD_DIR/docker/redis && ./buildredis && ./runredis
  - cd $TRAVIS_BUILD_DIR/docker/alice && ./buildalice && ./runalice
  
script:
  - docker exec -it alice node_modules/knex/bin/cli.js migrate:latest
  - docker exec -it alice npm run test:coverage
#  - npm install -g codeclimate-test-reporter
#  - codeclimate-test-reporter < coverage/lcov.info
  
after_success:
   - docker tag alice:latest cambria/alice:latest
   - docker tag devpostgres:latest cambria/devpostgres:latest
   - docker tag aliceredis:latest cambria/aliceredis:latest
   
# deploy:
#  provider: script
#  script: bash docker/docker_push
#  on:
#    branch: master
#   - 

