language: generic

sudo: required 
services: 
  - docker
  
before_install:
  - chmod +x docker/postgres/*postgres docker/redis/*redis docker/alice/*alice
  - docker network create --driver bridge dev-alice
  - cd $TRAVIS_BUILD_DIR/docker/postgres && ./buildpostgres && ./runpostgres
  - cd $TRAVIS_BUILD_DIR/docker/redis && ./buildredis && ./runredis
  - cd $TRAVIS_BUILD_DIR/docker/alice && ./buildalice && ./runalice
  
# script:
# script:
#   - node_modules/knex/bin/cli.js migrate:latest
#   - npm run test:coverage
# after_success:
#   - npm install -g codeclimate-test-reporter
#   - codeclimate-test-reporter < coverage/lcov.info
# services:
#   - postgresql
#   - redis-server
# before_script:
#   - export TZ=America/Los_Angeles
#   - psql -c 'create database travis_ci_test;' -U postgres
#   - psql -c "CREATE USER ci_tester WITH PASSWORD 'pa33word';" -U postgres
